In [1]:
import tensorflow as tf

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [1]:
import pandas as pd
import numpy as nm

train_data = pd.read_csv("/home/sandeep/Downloads/SalesTraning.csv")
test_data = pd.read_csv("/home/sandeep/Downloads/SalesTesting2.csv")

In [39]:
test_data.head()

    sales_amount  store_location        brand  buyer_gender
0           5600   San Francisco   KitchenAid          Male
1           3250         Phoenix           GE          Male
2           7000       Bangaluru         Sony          Male
3           8000         Chennai         Dell        Female
4           2800       Hyderabad       Lenova        Female

[5 rows x 4 columns]

In [6]:
#Import Library
#Import other necessary libraries like pandas, numpy...
from sklearn import tree
#Assumed you have, X (predictor) and Y (target) for training data set and x_test(predictor) of test_dataset
# Create tree object 
model = tree.DecisionTreeClassifier(criterion='gini') # for classification, here you can change the algorithm as gini or entropy (information gain) by default it is gini  
# model = tree.DecisionTreeRegressor() for regression
# Train the model using the training sets and check score

In [7]:
#model.fit(X, y)
#model.score(X, y)
#Predict Output
#predicted= model.predict(x_test)

In [37]:
X_train = train_data.ix[:,[3]] #0,2,3
y_train = train_data.ix[:,[1]]

In [40]:
X_test = test_data.ix[:,[0]] #0,1,3
y_test = test_data.ix[:,[2]]

In [42]:
model.fit(X_train, y_train)
model.score(X_train, y_train)
#Predict Output
predicted= model.predict(X_test)

In [87]:
from sklearn.metrics import confusion_matrix
y_t = y_test.values.flat
y_actu = y_test
y_pred = predicted
confusion_matrix(y_pred, y_t)

array([[12,  4,  7,  6,  0,  5,  3,  2,  3],
       [ 8,  8, 12,  6,  0,  5,  7,  6,  6],
       [ 1,  2,  3,  4,  0,  2,  2,  2,  1],
       [ 2,  6,  7,  6,  0,  2,  3,  4,  3],
       [ 8,  2,  0,  3,  0,  0,  0,  2,  1],
       [ 1,  1,  2,  1,  0,  1,  0,  0,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0,  0]])

In [77]:
set(predicted)
# set(y_test)
#y_test#.groupby([0])  #.apply(lambda x: len(x.unique()))

#y_test['brand'] #['brand'].value_counts()

# y_t = y_test.ix[:,[0]]

{' Electrolux', ' Frigidaire', ' GE', ' KitchenAid', ' LG', ' Samsung'}

y_t = y_test.values.flat
set(y_t)

In [76]:
y_t = y_test.values.flat
set(y_t)

{' Electrolux',
 ' Frigidaire',
 ' GE',
 ' KitchenAid',
 ' Samsung',
 'Dell',
 'Lenova',
 'Sony'}

In [86]:
import pandas as pd
# y_true1 = pd.Series([2, 0, 2, 2, 0, 1, 1, 2, 2, 0, 1, 2])
# y_pred1 = pd.Series([0, 0, 2, 1, 0, 2, 1, 0, 2, 0, 2, 2])
y_true1 = y_t
y_pred1 = predicted
pd.crosstab(y_true1, y_pred1, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted     Electrolux   Frigidaire   GE   KitchenAid   LG   Samsung  All
True
 Electrolux           12            8    1            2    8         1   32
 Frigidaire            4            8    2            6    2         1   23
 GE                    7           12    3            7    0         2   31
 KitchenAid            6            6    4            6    3         1   26
 Samsung               5            5    2            2    0         1   15
Dell                   3            7    2            3    0         0   15
Lenova                 2            6    2            4    2         0   16
Sony                   3            6    1            3    1         1   15
All                   42           58   17           33   16         7  173

[9 rows x 7 columns]

In [91]:
from sklearn.metrics import confusion_matrix
y_actu1 = [2, 0, 2, 2, 0, 1, 1, 2, 2, 9, 1, 2]
y_pred1 = [0, 0, 2, 1, 3, 2, 1, 4, 2, 0, 2, 2]
confusion_matrix(y_actu1, y_pred1)

array([[1, 0, 0, 1, 0, 0],
       [0, 1, 2, 0, 0, 0],
       [1, 1, 3, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0]])